head {
	background-color: lightblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    background-color: #333;
<<<<<<< HEAD
} 

li {
    float: left;
=======
    text-align: justify;
} 

ul:after {
    	display: inline-block;
    	width: 100%;
}

li {
    float: left;
    display: in-line;
>>>>>>> b48e99278c2badd3c0650eef60b895d048b8a7cc
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #111;
}

.menu {
	color: black;
<<<<<<< HEAD
	margin-center;
}

#jumbotron {
    margin-top: 50px;
    padding-top: 34px;
    padding-bottom: 17px;
    border: 1px solid #e4e4eb;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    width: 400px;
}
=======
	margin: center;
	width: 100%;
}

.menu li {
	width: 20%;
	text-align: center;
}

p {
	color: #111;
	text-align: center;
	font-size: 300%;
	font-style: italic;
	font-family: "Ariel";
}

>>>>>>> b48e99278c2badd3c0650eef60b895d048b8a7cc
